In [1]:
%%capture 
#Load the data_preparation_and_preprocessing file
%run data_preparation_and_preprocessing.ipynb

In [2]:
dataset.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,0

### Model Creation

## Train Test Split

In [3]:
#Define X and y
X = dataset.drop(["price"], axis=1)
y = dataset["price"]

#Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=3, random_state=42)

In [4]:
#Function
def model_evaluation(model_type):
    model = model_type
    #Fit the model on the training data
    model.fit(X_train, y_train)

    #Use the model to make predictions on the test data
    y_pred = model.predict(X_test)

    # Evaluate the model
    r2 = r2_score(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    mae = mean_absolute_error(y_test, y_pred)

    print("R-squared:", r2)
    print("Mean Squared Error:", mse)
    print("Mean Absolute Error:", mae)

#### Linear Regression

In [5]:
#Model evaluation
model_evaluation(LinearRegression())

R-squared: 0.5807564850341898
Mean Squared Error: 720828666587.1046
Mean Absolute Error: 828983.1758655215

#### Random Forest Regressor

In [6]:
#Model evaluation
model_evaluation(RandomForestRegressor())

R-squared: 0.19805737759366682
Mean Squared Error: 1378824503071.12
Mean Absolute Error: 736794.8000000002

#### XGBoost Regressor

In [7]:
model_evaluation(XGBRegressor())

R-squared: 0.8591104658742456
Mean Squared Error: 242239203218.75
Mean Absolute Error: 288872.1666666667

##  Cross Validation

In [8]:
#Define the cross-validation method
kfold = KFold(n_splits=10, shuffle=True, random_state=42)
def cv_model_eval(model):
    #Use cross-validation to evaluate the model
    scores = cross_val_score(model, X, y, cv = kfold, scoring = 'neg_mean_squared_error')

    #Calculate the RMSE, R-squared, and MAE
    rmse = np.sqrt(-scores.mean())
    r2 = cross_val_score(model, X, y, cv=kfold, scoring='r2').mean()
    mae = cross_val_score(model, X, y, cv=kfold, scoring='neg_mean_absolute_error').mean()

    # Evaluate the model
    r2 = cross_val_score(model, X, y, cv=kfold, scoring='r2').mean()
    mse = -scores.mean()
    mae = cross_val_score(model, X, y, cv=kfold, scoring='neg_mean_absolute_error').mean()

    print("R-squared:", r2)
    print("Mean Squared Error:", mse)
    print("Mean Absolute Error:", mae)

#### Linear Regression

In [9]:
cv_model_eval(LinearRegression())

R-squared: 0.6084726724894655
Mean Squared Error: 1217958064536.837
Mean Absolute Error: -807619.9933786916

#### Random Forest Regressor

In [10]:
cv_model_eval(RandomForestRegressor())

R-squared: 0.5709893191424364
Mean Squared Error: 1300978042247.892
Mean Absolute Error: -807195.4461683502

#### XGBoosting Regressor

In [11]:
cv_model_eval(XGBRegressor())

R-squared: 0.5241432588925956
Mean Squared Error: 1445811235625.9348
Mean Absolute Error: -862977.2403745791